<div>
<p-card style="flex-direction: row;">
    <button (click)="getFilm()">getFilm</button>
    <div *ngFor="let film of film.results" class="cardFilm" >
        <p-card header="{{film.title}}" subheader="{{film.release_date}}" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img src="https://image.tmdb.org/t/p/original/{{film.poster_path}}">
            </ng-template>
            <p>{{film.overview}}</p>
        </p-card>
    </div>
</p-card>
</div>
